.header{
  text-align: center;
  background: rgb(255, 165, 0);
  padding: 10px;
}

.matched-item {
  background: green !important;
  opacity: 0.6;
  transition: opacity 0.5s ease !important;
}
.shown-item{
 background: rgb(255 49 49) !important;
}
 .subheader{
  background: lightblue;
  width: 70%;
  border-radius: 20px;
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  text-align: center;
 }